[submodule "sketch_epaper/epaper"]
	path = sketch_epaper/epaper
	url = https://github.com/thelazt/waveshare-9.7inch-e-paper-hat.git
[submodule "sketch_epaper/mcufont"]
	path = sketch_epaper/mcufont
	url = https://github.com/mcufont/mcufont.git
